body {
    font-family: Helvetica, sans-serif;
}

.price {
    font-weight: bold;
    color: blue;
}
.section-header {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#main-header {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url('./../images/pattern.webp');
}

#brushes-header{
    background-color: mediumspringgreen;
}

#frames-header{
    background-color: lightcoral;
}

#paint-header{
    background-color: skyblue;
}