/*basic text styling*/
* {
    line-height: 2;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 44px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    list-style: square;
}

/*main header styling*/


/*page navigation link styling*/
nav {
    font-family: 'Roboto', sans-serif;
    background-color: #b7f1ed;
    position: sticky;
    z-index: 1;
    top: 0;
    height: 25px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

li a:hover {
    color:#7d7d7d
}

li a:active {
    color: #356232
}

/*color section specific styling*/
#colors {
    margin: 30px 100px;
    padding: 15px;
    border: 2px solid black;
}

.color-box {
    display: inline-block;
    margin: 15px;
    text-align: center;
    padding: 10px 50px;
}

#sky-blue {
    background-color: #b7f1ed;
}

#steel-gray {
    background-color: #7d7d7d;
}

#dark-green {
    background-color: #356232;
}

#beige {
    background-color: #dccabc;
}
/*font section specific styling*/
#fonts {
    margin: 30px 100px;
    padding: 15px;
    border: 2px solid black;
}

.font-box {
    margin: 15px;
    display: inline-block;
}
.roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.bold-font {
    font-weight: bold;
}
.italic-font {
    font-style: italic;
}

/*text-styles section specific styling*/
#text-styles {
    margin: 30px 100px;
    padding: 15px;
    border: 2px solid black;
}