/*basic text styling*/
h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 30px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

/*page navigation link styling*/
nav {
    font-family: 'Roboto', sans-serif;
    background-color: #b7f1ed;
    position: sticky;
    z-index: 1;
}

nav ul li {
    display: inline;
}

li a:hover {
    color:#7d7d7d
}

li a:active {
    color: #356232
}

/*color section specific styling*/

/*font section specific styling*/
.roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.bold-font {
    font-weight: bold;
}
.italic-font {
    font-style: italic;
}